body > #div
{
            
            background-color:rgba(0,0,0,0);
            color:rgb(178,34,34);
            
            font-family: 'Baloo Bhaina', cursive;
            font-weight:900;
            font-size:75px;
            
            text-align:center;
            line-height:100px;
            
            transition:all 0.3s ease;

            margin-top: 250px;
            
}
.grow:hover
{
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
}
.color:hover
{
    color:	rgb(255,215,0);
}
body
{
	background: url("https://i.imgsafe.org/096d480992.jpg");
}
h1{
	font-size:150px;
}
p{
	font-family: 'Arvo', serif;
	font-size: 15px;
	text-align: center;
	padding-left: 50px;
}
a:active, a:link, a:visited
{
	text-decoration: none;
	color:rgb(178,34,34);
}
a:hover
{
    color:rgb(255,215,0);
}
.audioCenter
{
	width: 300px;
	margin: 0 auto;
}

/*Makes text appear after a few seconds*/
.animate {
    -webkit-animation: DISPLAY 30s;
    -moz-animation: DISPLAY 30s;
    -o-animation: DISPLAY 30s;
    animation: DISPLAY 30s;
    opacity: 0;
}
@keyframes DISPLAY {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    99% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes DISPLAY {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    99% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes DISPLAY {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    99% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes DISPLAY {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    99% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
@keyframes DISPLAY {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    99% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}